*{
    box-sizing: border-box;
    color: black;
}

.logo-heading h1{font-family: 'Montserrat'; font-weight: 700; font-size: 2rem; text-align: left;margin-top: 10px;}
.logo-heading p{font-family: 'Urbanist';  font-size: 1.5rem; text-align: left;margin-top: -20px;}
#logo{
    width: 108px;
    padding: 10%;
}

.pages{
    padding-right: 5%;
    justify-content: right;
    align-items: center;
}

.smallMenu{
    margin-right: 2%;
    justify-content: right;
    align-items: center;
}

@media screen and (max-width:768px)  {
    .logo-heading h1{font-size: 1.4rem;}
    .logo-heading p{font-size: 1.2rem;}
    #logo{
        width:70px;
        
    }
}




